.contacts-holder {
  min-height: 100vh;
}

.contacts-columns-container {
  margin: 0% 5%;
  padding: 3%;
}

.contacts-title {
  padding-top: 2%;
}

li {
  overflow-wrap: break-word;
}

.is-128x128 {
  margin: 2%;
}

.card {
  overflow: auto;
}
