.h1Styles {
  margin: 2rem;
  font-size: 34px;
}

.nickname-h2 {
  color: rgb(3, 33, 91);
  margin: 20px;
}

.login-submit {
  margin: 40px;
}

#nickname {
  display: inline;
  margin: 20px 20px 20px 40px;
  border: solid 2px rgb(150, 192, 232);
}

.btn {
  background-color: rgb(3, 33, 91);
  color: white;
  min-width: 100px;
}

.btn:hover {
  color: rgb(150, 192, 232);
}

/* .chat-logout-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
} */

.chat-login-holder {
  height: 70vh;
  clear: both;
  overflow: auto;
}
