.bottom-logo {
  width: 45px;
  background-color: white;
  margin: 5px 5px 5px 5px;
}

footer {
  background-color: rgb(3, 33, 91);
  color: white;
  margin-left: 14rem;
  margin-top: 4rem;
  width: 85vw;
  height: 50px;
}

@media (max-width: 1087.5px) {
  footer {
    margin-left: 0px;
    width: 100vw;
  }
}
