aside {
  width: 14rem;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 1px 1px 6px;
}

.school-logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.student-name-tag {
  margin: 0px;
}

.student-id {
  margin-bottom: 20px;
}

.side-link-text {
  padding-left: 30px;
  display: inline;
}

.sidebar-icons {
  position: absolute;
}

/* the page you currently are on */
.is-current {
  background-color: rgb(150, 192, 232) !important;
  transition: all 0.3s ease;
}

.side-link-text {
  color: rgb(3, 33, 83);
}

.sidebar-icons {
  color: rgb(3, 33, 83);
}

/* sidebar goes away if screen isn't very wide */

#navbar-sidebar-holder {
  margin-left: 20px;
  display: none;
}

.nav-bars-separator {
  margin-right: 20px;
}

.navbar-sidebar-divs {
  margin: 10px;
  font-size: 20px;
}

/* button to bring up sidebar on smaller screens */
#navbar-burger-link {
  color: white;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 31;
  display: none;
}

#navbar-burger-link:hover {
  color: rgb(150, 192, 232);
}

@media (max-width: 1087.5px) {
  .is-display-none {
    display: none;
  }
  #navbar-burger-link {
    display: block;
  }

  .margin-for-sidebar {
    position: absolute;
    z-index: 30;
    height: 100%;
  }

  #navbar-sidebar-holder {
    display: block;
  }
  aside {
    overflow: auto;
  }
}

.move-burger-out {
  left: 16rem !important;
}
