body {
  font: 13px Helvetica, Arial;
}
form {
  border: solid 1px #ccc;
  box-shadow: 1px 1px 4px #ccc;
  border-radius: 6px;
  /* margin: 0rem 4rem 2rem 4rem; */
  background: white;
  padding: 3px;
  bottom: 0;
  width: 100%;
}
form input {
  border: 0;
  padding: 10px;
  width: 80%;
  margin-right: 0.5%;
}
form button {
  width: 9%;
  background: rgb(150, 192, 232);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
