.inputStyles {
  margin-right: 4rem;
}

.supportFormBuffer {
  margin: 4rem 0rem 4rem 10rem;
}

.innerInput {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formButtons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.support-page-holder {
  height: 100%;
  padding: 3% 0px;
  min-height: 100vh;
}

label{
  margin:0.5rem 0 0.5rem 0;
}

.contol{
  margin:0.5rem 0.5rem 0 0;
}

.col-lg-8{
  padding-left:4rem;
}
.col-lg-4 {
  padding-right:4rem;
 padding-left:2rem;
}

.support-msg{
  text-align: center;
}

.ticket-card{
  margin-bottom: 2rem;
}


.fade-enter{
  opacity: 0.01;
}

.fade-enter-active{
opacity: 1;
transform: opacity 2000ms ease-in;
}

.fade-exit{
  opacity:1;
}

.fade-exit-active{
  opacity: 0.01;
  transform: opacity 2000ms ease-in;
}