.attendanceSubtext {
  font-size: 14px;
  color: #686868;
}

.attendanceSubtitle {
  font-size: 20px;
  font-weight: 550;
}

.attendanceCardBuffer {
  margin: 2rem;
  border: solid 1px #ccc;
  border-radius: 6px;
  box-shadow: 1px 1px 4px #ccc;
  min-width: 250px;
}

.attendanceClassTitle {
  font-size: 26px;
}

.attendanceSeparator {
  margin: 0px;
  border-right: solid 1px #ccc;
}

.mb {
  margin-bottom: 1rem;
}
