 .grades-top-info-card{
  height: 200px;
  width: 275px;
}

.barChart-card {
  height: 200px;
  min-width: 600px;
} 

.grades-top-info-title {
  padding-top: 50px;
}

.grades-top-info-card-content {
  padding-top: 0px;
}

@media (max-width: 768.9px) {
  .grades-top-info-card {
    width: 200px;
  }
}

.is-mobile{
  margin:auto;
}