.rightBuffer {
  margin-right: 3rem;
}

.leftBuffer {
  margin-left: 3rem;
}

.iconFormat {
  font-size: 22px;
  border: none;
  margin-top: 0.4rem;
  background: rgb(3, 33, 91);
  color: #fff;
}

.iconFormat:hover {
  background: rgb(3, 33, 91);
  color: rgb(150, 192, 232);
}

.iconFormat:focus {
  color: #fff;
}

.navTextFormat {
  font-size: 24px;
  color: #fff;
}

.navItemSpacing {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.navStyles {
  background: rgb(3, 33, 91);
  box-shadow: 1px 1px 6px;
}

@media (max-width: 1087.5px) {
  #app-title {
    position: absolute;
    right: 20px;
  }
}

#support-navbar-link:hover,
#logout-navbar-link:hover {
  color: rgb(150, 192, 232);
}
